* { 
    font-family:monospace;
    font-size: 12px;
    color: #111;
}

body{
    margin:0;
}

.userblock{
    float: right;
}

#progr-header{
    background: #eee;
    color:#222;
    padding: 15px;
    text-align: center;
}

#site-name {
    font-size: 14px;
}

#site-name a{
    font-size: 14px;
}
#progr-content{
    padding: 15px;
}

#progr-footer{
    background: #fdfdfd;
    color:#222;
    text-align: center;
    font-family: monospace;
    padding: 15px;   
}

.entry{
    border: 1px dashed #ccc;
    padding: 10px;
    margin:10px;
    border-left: 5px solid #efefef;
    margin-bottom: 30px;
    background-color: #fdfdfd;
    padding-bottom: 20px;
}

.entry *{
    padding:0px;
    margin:0px;
    
}

.entry-header{
    margin-bottom: 5px;
    margin-top: -5px;
}

.entry-dateline{
    float: right;
    
}

a{
    color: #006699;
    border-bottom: 1px dashed #006699;
    text-decoration: none;
    
}
.entry-header a{
    
}

.entry-header a:hover{
    color:#111;
}